@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter";
    margin: 0;
    padding: 0;
}

main {
    padding-top: 40px;
}

section {
    padding: 70px;
}

.pagina_inicio {
    width: 100%;
}

#inicio {
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 40px;
    font-weight: bolder;
    margin: 30px;
}


/* Header y nav-bar */
#header {
    background-color: #011638;
    padding-right: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-logo {
    width: 200px;
    float: left;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a,
span ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover,
span ul li a:hover {
    color: #4682b4;
    text-decoration: none;
}

nav-item nav-link {
    line-height: 0.5;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

footer span {
    /* display: flex;  */
    align-items: center;
    display: inline-block;
}

footer img {
    width: 200px;
    height: auto;
}

/* Inicio */
#porqueelegir {
    display: flex;
    flex-direction: column;
}

.beneficios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.item-beneficio {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.item-beneficio p {
    margin-top: 20px;
}

/* Servicios */
.contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.servicio {
    position: relative;
    width: 400px;
    margin-bottom: 30px;
    background-color: #4682b4;
    border-radius: 20px;
    text-align: center;
}

.servicio img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.servicio h3 {
    color: #EEF0F2;
    margin-top: 20px;
}

.servicio ul,
.serviciopromo ul {
    text-align: left;
    color: #EEF0F2;
}

.servicio:hover,
.serviciopromo:hover {
    background-color: #5f9ea0;
}

.costo {
    display: none;
    position: absolute;
    /*Si ponemos relative se alarga el div*/
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4682b4;
    color: #EEF0F2;
    padding: 1px 15px;
    border-radius: 5px;
}

/*--------------------------------------------------------------*/
/* Sobre Nosotros */
/* Estilos de títulos del section */

#sobrenosotros h1 {
    text-align: center;
    margin: 30px;
    font-size: 40 px;
    font-weight: bolder;
}

#sobrenosotros p {
    font-size: larger;
    text-align: justify;
}

#nosotros {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;

}

#nosotros1 {
    width: 70%;
    text-align: justify;

}

#nosotros1 p {
    width: 100%;
    padding: 10px;
}


#nosotros2 {
    width: 30%;
    align-content: center;
}

#nosotros2 img {
    width: 90%;
    padding: 20px;

}

#video {
    text-align: center;

}

#videovivo {
    border-radius: 20px;
    width: 50%;
}

#empresas-amigas {
    margin: 40px 0px;
    display: inline-flex;
    justify-content: space-between;
    background-color: #4889AE;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

#empresas-amigas img:hover {
    animation: animate__swing;
    cursor: grabbing;

}

/* CONTACTO*/
/*Fondo de pagina contacto */
#contacto {
    background-color: #4889ae;
    color: #fff;
}

/*titulo de pagina */
#contacto h1 {
    text-align: center;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-weight: bolder;
}

/*Contenedor del mapa */
.map-container {
    width: 100%;
    text-align: left;
    align-content: left;
    margin-top: 30px;
}

.map-container h3 {
    margin-top: 40px;
}

/*Contenido de data debajo del mapa */
.map-container p {
    font-size: small;
    width: 100%;
    color: white;
    text-align: left;
    align-content: left;
}

#mapa {
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    text-align: left;
    align-content: left;
}

#form-consulta {
    width: 100%;
    border-radius: 20px;
    color: black;
    text-align: left;
    align-content: left;
}

/*Caja contenedora de las 2 cajitas de mapa + formulario de contacto */
.containercontacto {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    text-align: left;
    align-content: left;
}

/*Caja contenedora de mapa y demas datos */
.left-box {
    text-align: left;
    width: 40%;
    padding: 10px;
    color: white;
    align-content: left;
    display: inline-block;
}

/*Caja contenedora de formulario de contacto */
.right-box {
    color: white;
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    text-align: left;
    align-content: left;
}

/*Boton de enviar */
.right-box button,
.agenda button {
    width: 100%;
    border-radius: 10px;
    background-color: #011638;
    color: #fff;
    align-content: center;
    padding: 10px;
}

/*Animacion del boton enviar */
.right-box button:hover,
.agenda button:hover {
    background-color: #085582;
    animation: 0.5s infinite Enviar;
    border-radius: 20px;
    align-content: center;
}

@keyframes Enviar {
    0% {
        transform: scalex(1.0);
    }

    50% {
        transform: scalex(1.15);
    }

    100% {
        transform: scalex(1.0);
    }
}

/* Agenda */
.agenda {
    width: 75%;
    margin: 50px auto;
    background-color: #4682b4;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.agenda-subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.agenda-titulo {
    margin-right: 10px;
    text-align: center;
}

.agenda-imagen {
    max-width: 100px;
    height: auto;
    width: 45px;
    margin-left: auto;
}

#agenda h1 {
    text-align: center;
    width: 100%;
    /* padding: 10px; */
    font-weight: bolder;
    /* margin: 30px; */
    font-size: 40 px;
}

#agenda h4 {
    text-align: center;
}

.contenedorAgenda {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.div-izquierdo,
.div-derecho {
    width: calc(50% - 10px);
    padding: 10px;
    box-sizing: border-box;
}

.div-abajo {
    width: 100%;
}

.contenedorAgenda,
.div-izquierdo,
.div-derecho,
.div-abajo {
    padding: 10px;
    box-sizing: border-box;
}

.error {
    color: #FFFFFF;
    margin-bottom: 5px;
    font-size: small;
    font-weight: 200;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row .col-6 {
    width: calc(50% - 10px);
    padding: 0 5px;
    box-sizing: border-box;
}

/* Inputs de servicios de la section agenda un turno */
input[type="radio"] {
    display: none;
}

label {
    display: block;
    cursor: pointer;
    color: #fff;
    padding: 5px;
    font-size: medium;
}

input[type="radio"]:checked+label,
input[type="radio"]:hover+label {
    color: white;
    background-color: #5f9ea0;
    border-radius: 5px;
}

.campo {
    margin-top: 20px;
}

/*Formularios*/
.formulario {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #4682b4;
    border-radius: 10px;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.input-group label {
    flex: 1;
    text-align: left;
}

.input-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.input-wrapper select {
    width: 100%;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

/* Media queries */
@media screen and (min-width: 991px) and (max-width: 100%) {

    /* Aquí van los estilos específicos para PC de escritorio */
    .header-mobile {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    /* Aquí van los estilos específicos para tablets */
    .header-mobile {
        display: none;
    }

    .header-logo {
        float: left;
        min-width: 35%;
        height: 100%;
    }

    /* Títulos de secciones en h2 */
    h2 {
        font-size: 30px !important;
        font-weight: bolder;
    }

    .beneficios {
        row-gap: 1em;
    }

    .item-beneficio {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        width: 310px;
    }

    .item-beneficio img {
        width: 150px;
    }

    #nosotros {
        flex-direction: column;
    }

    #nosotros1 {
        width: 100%;
    }

    #nosotros2 {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    #nosotros2 img {
        width: 30%
    }

    /* Agenda */
    .contenedorAgenda {
        flex-direction: column;
        align-items: center;
    }

    .div-izquierdo,
    .div-derecho {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    /* Aquí van los estilos específicos para dispositivos móviles */

    .header-logo {
        max-width: 50%;
        float: left;
    }

    /* Títulos de secciones en h2 */
    h2 {
        font-size: 30px !important;
        font-weight: bolder;
    }

    /* Beneficios */
    .beneficios {
        row-gap: 1em;
    }

    .item-beneficio {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        width: 310px;
    }

    .item-beneficio img {
        width: 150px;
    }

    #nosotros {
        flex-direction: column;
    }

    #nosotros1 {
        width: 100%;
    }

    #nosotros2 {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    #nosotros2 img {
        width: 70%
    }

    #videovivo {
        width: 100%;
    }

    #empresas-amigas {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20%;
    }

    #empresas-amigas img {
        padding: 10px;
    }

    /* Agenda */
    .agenda {
        width: 100%;
    }

    .contenedorAgenda {
        flex-direction: column;
        align-items: center;
    }

    .div-izquierdo,
    .div-derecho {
        width: 100%;
    }

    label {
        cursor: none;
        font-size: small;
    }

    .containercontacto {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .left-box {
        text-align: center;
        width: 100%;
        align-content: center;
    }

    .right-box {
        text-align: center;
        width: 100%;
        align-content: center;
    }
}