@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter";
    margin: 0;
    padding: 0;
}

main {
    padding-top: 40px;
}

section {
    padding: 60px;
}

.pagina_inicio {
    width: 100%;
}

#inicio {
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 40px;
    font-weight: bolder;
    margin: 30px;
}


/* Header */
#header {
    background-color: #011638;
    color: #EEF0F2;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

/* .header-logo {
    width: 400px;
    float: left;
} */

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Footer */
.redes {
    float: left;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
}

footer ul {
    list-style-type: none;
    align-content: center;
}

footer img {
    width: 250px;
    position: absolute;
    top: 50%;
    /* Centra verticalmente la imagen */

    right: 20px;
    /* La sitúa a 20px del borde derecho del footer */

    transform: translateY(-50%);
    /* Centra verticalmente la imagen */
}

/* Inicio */

#porqueelegir {
    display: flex;
    flex-direction: column;
}

.beneficios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.item-beneficio {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.item-beneficio p {
    margin-top: 20px;
}

/* Servicios */

.contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.servicio {
    position: relative;
    width: 400px;
    margin-bottom: 30px;
    background-color: #4682b4;
    border-radius: 20px;
    text-align: center;
}

.servicio img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.servicio h3 {
    color: #EEF0F2;
    margin-top: 20px;
}

.servicio ul,
.serviciopromo ul {
    text-align: left;
    color: #EEF0F2;
}

.servicio:hover,
.serviciopromo:hover {
    background-color: #5f9ea0;
}

.costo {
    display: none;
    position: absolute;
    /*Si ponemos relative se alarga el div*/
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4682b4;
    color: #EEF0F2;
    padding: 1px 15px;
    border-radius: 5px;
}

/*--------------------------------------------------------------*/
/* Sobre Nosotros */
/* Estilos de títulos del section */

#sobrenosotros h1 {
    text-align: center;
    margin: 30px;
    font-size: 40 px;
    font-weight: bolder;
}

#sobrenosotros p {
    font-size: larger;
    text-align: justify;
}

#nosotros {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;

}

#nosotros1 {
    width: 70%;
    text-align: justify;

}

#nosotros1 p {
    width: 100%;
    padding: 10px;
}


#nosotros2 {
    width: 30%;
    align-content: center;
}

#nosotros2 img {
    width: 90%;
    padding: 20px;

}

#video {
    text-align: center;

}

#videovivo {
    border-radius: 20px;
}

#equipo {
    margin: 30px;
}

#equipo img {
    padding: 15px;

}

#empresas-amigas {
    margin: 40px 0px;
    display: inline-flex;
    justify-content: space-between;
    background-color: #4889AE;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

#empresas-amigas img:hover {
    /* display: inline-block;
   margin: 0 0.5rem; */
    animation: animate__swing;
    /* animation-duration: 20s;  */
    cursor: grabbing;

}

/* #animate__animated animate__swing:hover{
    animation: animate__swing; 
   animation-duration: 2s;
} */

/* CONTACTO*/
/*Fondo de pagina contacto */
#contacto {
    background-color: #4889ae;
    color: #fff;
}

/*titulo de pagina */
#contacto h1 {
    text-align: center;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-weight: bolder;
}

/*Contenedor del mapa */
.map-container {
    width: 100%;
    text-align: left;
    align-content: left;
    margin-top: 30px;
}

.map-container h3 {
    margin-top: 40px;
}

/*Contenido de data debajo del mapa */
.map-container p {
    font-size: small;
    width: 100%;
    color: white;
    text-align: left;
    align-content: left;
}

#mapa {
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    text-align: left;
    align-content: left;
}

#form-consulta {
    width: 100%;
    border-radius: 20px;
    color: black;
    text-align: left;
    align-content: left;
}

/*Caja contenedora de las 2 cajitas de mapa + formulario de contacto */
.containercontacto {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    text-align: left;
    align-content: left;
}

/*Caja contenedora de mapa y demas datos */
.left-box {
    text-align: left;
    width: 40%;
    padding: 10px;
    color: white;
    align-content: left;
    display: inline-block;
}

/*Caja contenedora de formulario de contacto */
.right-box {
    color: white;
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    text-align: left;
    align-content: left;
}

/*Boton de enviar */
.right-box button,
.agenda button {
    width: 100%;
    border-radius: 10px;
    background-color: #011638;
    color: #fff;
    align-content: center;
    padding: 10px;
}

/*Animacion del boton enviar */
.right-box button:hover,
.agenda button:hover {
    background-color: #085582;
    animation: 0.5s infinite Enviar;
    border-radius: 20px;
    align-content: center;
}

@keyframes Enviar {
    0% {
        transform: scalex(1.0);
    }

    50% {
        transform: scalex(1.15);
    }

    100% {
        transform: scalex(1.0);
    }
}

/* Agenda */
#agenda h1 {
    text-align: center;
    width: 100%;
    /* padding: 10px; */
    font-weight: bolder;
    /* margin: 30px; */
    font-size: 40 px;
}

#agenda h4 {
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: none;
    border-radius: 10px;
    display: flex;
}

.agenda {
    width: 75%;
    margin: 50px auto;
    padding: 20px;
    background-color: #4682b4;
    border-radius: 10px;
    color: white; /*Color de la letra*/
}

.agenda-subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.agenda-titulo {
    text-align: center;
}

.agenda-imagen {
    width: 50px;
    margin-left: auto;
}

.error{
    color: yellow;
    margin-bottom: 5px;
}

/*Formularios*/
.formulario {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #4682b4;
    border-radius: 10px;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.input-group label {
    flex: 1;
    text-align: left;
}

.input-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.input-wrapper select {
    width: 100%;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

/* Media queries */
@media screen and (min-width: 991px) and (max-width: 100%) {
    /* Aquí van los estilos específicos para PC de escritorio */
    .header-mobile {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Aquí van los estilos específicos para tablets */
    .header-mobile {
        display: none;
    }

    .header-logo {
        float: left;
        min-width: 35%;
        height: 100%;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: right;
        justify-content: space-between;
        width: 100%;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        min-width: 65%;
    }
    
    nav ul li {
        display: inline;
        margin-right: 20px;
    }
    
    nav ul li a {
        color: #fff;
        text-decoration: none;
    }
    
    /* Títulos de secciones en h2 */
    h2 {
        font-size: 30px !important;
        font-weight: bolder;
    }

    .beneficios {
        row-gap: 1em;
    }

    .item-beneficio {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        width: 310px;
    }

    .item-beneficio img {
        width: 150px;
    }
}

@media screen and (max-width: 768px) {
    /* Aquí van los estilos específicos para dispositivos móviles */
    
    .header-desktop {
        display: none;
    }
    
    .header-mobile {
        background-color: #011638;
        color: #EEF0F2;
        padding: 20px;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .hamburguesa {
        background: transparent;
        border: none;
    }

    .hamburguesa img {
        width: 48px;
    }

    .header-logo {
        max-width: 50%;
        float: left;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: right;
        justify-content: space-between;
    }

     /* Títulos de secciones en h2 */
     h2 {
        font-size: 30px !important;
        font-weight: bolder;
    }

    .beneficios {
        row-gap: 1em;
    }

    .item-beneficio {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        width: 310px;
    }

    .item-beneficio img {
        width: 150px;
    }

    #videovivo {
        width: 100%;
    } 

}